@use '@angular/material' as mat;

html,
body {
  height: 100%;
  margin: 0;
  background: #f4f4f4;
  font-family: Inter, Arial, sans-serif;
}

:root {
  --itau-laranja: #EC7000;
  --itau-grafite: #1F2D3D;
}

.mat-mdc-form-field {
  width: 100%;
}

.mdc-text-field--filled {
  background: transparent !important;
}

.mat-mdc-text-field-wrapper {
  background: transparent !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.mdc-line-ripple::before {
  border-bottom-color: #d0d0d0 !important;
}

.mdc-line-ripple::after {
  border-bottom-color: #EC7000 !important;
}

.mat-mdc-form-field.mat-focused .mat-mdc-floating-label {
  color: #EC7000 !important;
}

.mat-mdc-floating-label {
  color: #888 !important;
  font-size: 13px !important;
}

.btn-primary {
  --mdc-filled-button-container-color: #EC7000;
  --mdc-filled-button-label-text-color: #fff;
}

.btn-primary:disabled {
  --mdc-filled-button-container-color: #d7d7d7;
  --mdc-filled-button-label-text-color: #999;
}

.btn-novo {
  --mdc-outlined-button-outline-color: #EC7000;
  color: #EC7000 !important;
}

.mat-mdc-form-field-error {
  color: #d32f2f !important;
  font-size: 12px !important;
}