@use '@angular/material' as mat;

html, body {
  height: 100%;
  margin: 0;
  background: #f4f4f4;
  font-family: Inter, Arial, sans-serif;
  font-size: 16px;
}

.mat-mdc-form-field {
  width: 100%;
  font-size: 16px;
}

.mdc-text-field--filled {
  background: transparent !important;
}

.mat-mdc-text-field-wrapper {
  background: transparent !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.mdc-line-ripple::before {
  border-bottom-color: #d0d0d0 !important;
}

.mdc-line-ripple::after {
  border-bottom-color: #EC7000 !important;
}

.mat-mdc-form-field.mat-focused .mat-mdc-floating-label {
  color: #EC7000 !important;
}

.mat-mdc-floating-label {
  color: #888 !important;
  font-size: 16px !important;
}

input::placeholder {
  color: #bbb !important;
  font-size: 15px !important;
}

.mat-mdc-form-field-error {
  color: #d32f2f !important;
  font-size: 12px !important;
}

.btn-primary {
  --mdc-filled-button-container-color: #1F2D3D;
  --mdc-filled-button-label-text-color: #fff;
}

.btn-primary:disabled {
  --mdc-filled-button-container-color: #d7d7d7;
  --mdc-filled-button-label-text-color: #999;
}

.btn-novo {
  --mdc-outlined-button-outline-color: #EC7000;
  color: #EC7000 !important;
}

.erro-backend {
  background: #fdecea;
  border-left: 4px solid #d32f2f;
  color: #d32f2f;
  font-size: 14px;
  padding: 12px 16px;
  border-radius: 4px;
  margin-bottom: 24px;
}